@model string[]

@{
    ViewData["Title"] = "Edit Book Info";
}

<style>
</style>

<head style="color:red">
    <h2>If you are NOT an admin or librarian, your edit/add will not be processed. Please check your account status in the book list / author list pages.</h2>
</head>

<div class="text-center">
    <h1 class="display-4">Edit Book Information</h1>

    <h2>DIRECTIONS: To edit an attribute, enter OLD and NEW information. To leave as is, leave both fields blank.</h2>
    <h2>Any books with information in the OLD field will be replaced with information in the corresponding NEW field.</h2>
    @using (Html.BeginForm("EditBook", "Home", FormMethod.Post))
    {
        <table>
            <tr><th>Enter new book </th><th>information below</th></tr>
            <tr>
                <td>OLD Book Title</td>
                <td>@Html.TextBoxFor(x => x[0])</td>
            </tr>
            <tr>
                <td>NEW Book Title</td>
                <td>@Html.TextBoxFor(x => x[1])</td>sssss
            </tr>
            <tr>
                <td>OLD Book Author Name</td>
                <td>@Html.TextBoxFor(x => x[2])</td>
            </tr>
            <tr>
                <td>NEW Book Author Name</td>
                <td>@Html.TextBoxFor(x => x[3])</td>
            </tr>
            <tr>
                <td>OLD Book Category</td>
                <td>@Html.TextBoxFor(x => x[4])</td>
            </tr>
            <tr>
                <td>NEW Book Category</td>
                <td>@Html.TextBoxFor(x => x[5])</td>
            </tr>
            <tr>
                <td>OLD Book Publish Date (make sure to put in MMDDYY format)</td>
                <td>@Html.TextBoxFor(x => x[6])</td>
            </tr>
            <tr>
                <td>NEW Book Publish Date (make sure to put in MMDDYY format)</td>
                <td>@Html.TextBoxFor(x => x[7])</td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
                <td></td>
            </tr>
        </table>
    }
</div>
